# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.venv/
backend/.venv/
backend/app/static/

# Node
node_modules/
frontend/dist/

# 数据
.env
data/
cache/
logs/
*.pid
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# 系统
.DS_Store
Thumbs.db
